/* Define the card style */
.card {
    width: 300px;
    /* height: 400px; */
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card button{
    margin: 20px;
    font-size: 13px;
    padding: .5rem 1.5rem;
    border: none;
    background: green;
    color: #fff;
}

/* Define the card header style */
.card-header {
    height: 70px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Define the card title style */
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Define the card body style */
.card-body {
    padding: 20px;
}

/* Define the card content style */
.card-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    align-items: center;
}

/* Define the card label style */
.card-label {
    font-size: 16px;
    font-weight: normal;
    color: #666;
}

/* Define the card value style */
.card-value {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}